.wrapper {
    cursor: pointer;
    font-variant: small-caps;
    color: var(--color-text-secondary);
    transition: .15s color;
}

.wrapper:hover {
    color: var(--color-text-accent);
}

.wrapper.root {
    font-style: italic;
}

.wrapper + .wrapper {
    margin-left: var(--sizing-unit);
}

.wrapper + .wrapper::before {
    content: ' / ';
}
