.wrapper {
    color: var(--color-text-main);
    font-size: 20px;
}

.wrapper + .wrapper {
    margin-top: var(--sizing-unit);
}

.selected .itemText {
    color: var(--color-text-accent);
}

.item {
    display: flex;
    align-items: center;
}

.controls {
    opacity: 0;
    display: flex;
    align-items: center;
    margin-left: calc(var(--sizing-unit) * 2);
}

.item.selected .controls,
.item:hover .controls {
    opacity: 1;
}

.control {

}

.button {
    composes: control;
    border: 1px var(--color-control-main) solid;
    border-radius: var(--sizing-unit);
    background: none;
    outline: none;
    color: var(--color-control-main);
    transition: .15s color, border-color;
}

.control + .control {
    margin-left: var(--sizing-unit);
}

.button:hover {
    border-color: var(--color-control-accent);
    color: var(--color-control-accent);
}
