.selected .itemText {
    color: blue;
}

.item {
    display: flex;
}

.controls {
    opacity: 0;
    display: inline-block;
    margin-left: 10px;
}

.item.selected .controls,
.item:hover .controls {
    opacity: 1;
}
